/* header */

body {
	margin: 0;
	padding: 0;
}


/* header */

div#header-container {
  background-color: #910201;
  color: #FFF;
  padding: 0 5px;
}


/* main nav */
ul#main-nav li a, #login a {
    color: #FFF;
    font-weight: bold;
}

ul#main-nav li a:hover {
	color: 	#A10302;
}

ul#main-nav li.current {
    background: #FFF;
}

ul#main-nav li.current a {
    color: #A10302;
}

#login a:hover  {
	 background-color: #256188;
}

/* contacts */

div#contacts ul.float li.follower {
    background: #dbeaff;
    padding-top: 3px;
}

div#followers ul.float li.contact {
    background: #dbeaff;
    padding-top: 3px;
}

/* groups */
div#group-intro {
    background: #f0f0f0;
    padding: 5px 15px 1px 15px;
}

div#group-intro {
    background: #f0f0f0;
    padding: 5px 0 1px 0;
}

div#group-intro p.centered {
    text-align: left;
}
